<% provide :title, t("signup") %>
<% provide :button_text, t("submit_create_user") %>
<div class="signup-form">
  <h1><%= t "signup" %></h1>
  <div class="row">
    <div class="col-md-8">
      <%= render "form" %>
    </div>
  </div>
</div>
