@import "bootstrap-sprockets";
@import "bootstrap";
@import "colors";
@import "toastr/toastr";

.pagy-bootstrap-nav {
  width: 100%;
  text-align: center;
}

#error_explanation {
  ul {
    li {
      margin-left: 16px;
      list-style: square;
      color: $error-explanation;
    }
  }
}

.remember-checkbox {
  display: flex;
  align-items: center;
  #session_remember_me {
    margin-top: 10px;
  }
}

.dropdown.open {
  #account-options {
    flex-wrap: wrap;
    li {
      width: 100%;
    }
  }
}

.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .women-product {
    width: 70%;
  }
}
.order-history {
  width: 100%;
  table-layout: fixed;
  th {
    text-align: center;
  }
  .order-details {
    background-color: $order-info-background;
    margin: 8px;
    width: 100%;
    border-bottom: 1px solid $black;
    td {
      padding: 4px 8px;
      text-align: center;
      .btn {
        margin-bottom: 2px;
      }
    }
  }
}

.search-btn {
  margin-top: 24px;
}

.search-form {
  .form-group {
    margin-top: 5px;
  }
}

.order-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.order-quantity {
  display: block;
  width: 100px;
}

.login-form, .signup-form {
  width: 100%;
}

.shopping-cart {
  width: 65%;
  .well {
    padding: 12px;
    .row {
      display: flex;
      align-items: center;
    }
    .order-book-info {
      display: flex;
      align-items: center;
      img {
        max-height: 66px;
        margin-right: 4px;
      }
    }
  }
  .cart-title {
    display: flex;
    position: relative;
    height: 40px;
    h5 {
      position: absolute;
      font-weight: bold;
    }
    .info-title {
      left: 24px
    }
    .quantity-title {
      left: 400px;
    }
    .option-title {
      right: 60px;
    }
  }
}

.order-info {
  width: 30%;
  font-size: 16px;
  ul {
    li {
      padding: 4px;
    }
      li:not(:last-child) {
      border-bottom: 1px solid $border-color;
    }
  }
}

.form-group {
  select {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
}

.left-n {
  line-height: 60px;
}

.single_top {
  display: block;
  width: 100%;
}

.author_name {
  margin-left: 80px;
  margin-bottom: 30px;
  margin-top: -20px
}

.row.content {
  height: 550px
}

.sidenav {
  background-color: $sidebar-background;
  height: 100%;
}

.container-fluid {
  width: 100%;
}

.book-price {
  color: $error-explanation;
}

.nav-pills {
  li {
    background-color: $primary-color;
    border-radius: 2px;
    margin-bottom: 12px;
    a {
      color: $white;
      font-weight: bold;
    }
  }

  li:hover {
    a {
      color: $black;
    }
  }
}

.header-bottom-left {
  width: 45% !important;
}

.header-bottom-right {
  font-weight: bold;
  width: 55% !important;
}

.place-order-btn {
  background-color: $primary-color;
  margin-top: 12px;
  width: 100%;
}

.admin-orders {
  font-size: 12px;
}

.quantity-input, .date-input {
  margin-left: -15px;
}

@media screen and (max-width: 767px) {
  .row.content {height: auto;}
}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}
.gravatar_edit {
  margin-top: 15px;
}
