@import "bootstrap-sprockets";
@import "bootstrap";
@import "colors";

.pagy-bootstrap-nav {
  width: 100%;
  text-align: center;
}

#error_explanation {
  ul {
    li {
      margin-left: 16px;
      list-style: square;
      color: $error-explanation;
    }
  }
}

.remember-checkbox {
  display: flex;
  align-items: center;
  #session_remember_me {
    margin-top: 10px;
  }
}

.dropdown.open {
  #account-options {
    flex-wrap: wrap;
    li {
      width: 100%;
    }
  }
}

.main {
  display: flex;
  justify-content: space-between;
  .women-product {
    width: 70%;
  }
}

.order-btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.order-quantity {
  display: block;
  width: 100px;
}

.login-form, .signup-form {
  width: 100%;
}

.shopping-cart {
  width: 100%;
}

.single_top {
  display: block;
  width: 100%;
}

.author_name {
  margin-left: 80px;
  margin-bottom: 30px;
  margin-top: -20px
}

.row.content {
  height: 550px
}

.sidenav {
  background-color: $sidebar-background;
  height: 100%;
}

.container-fluid {
  width: 100%;
}

.book-price {
  color: $error-explanation;
}

.nav-pills {
  li {
    background-color: $primary-color;
    border-radius: 2px;
    margin-bottom: 12px;
    a {
      color: $white;
    }
  }

  li:hover {
    a {
      color: $black;
    }
  }
}

@media screen and (max-width: 767px) {
  .row.content {height: auto;}
}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
.gravatar {
  float: left;
  margin-right: 10px;
}
.gravatar_edit {
  margin-top: 15px;
}
