<div class="container-fluid">
  <div class="row content">
    <%= render "admin/dashboards/sidebar" %>
    <br>

    <div class="col-sm-9">
      <div class="well">
        <h4><%= t "admin_pages" %></h4>
      </div>
    </div>
  </div>
</div>
