<div class="sub-cate">
	<div class=" top-nav rsidebar span_1_of_left">
		<h3 class="cate"><%= t "categories" %></h3>
		<ul class="menu">
      <li class="subitem1">
        <%= link_to t("history"), "#" %>
      </li>
      <li class="subitem2">
        <%= link_to t("manga"), "#" %>
      </li>
      <li class="subitem3">
        <%= link_to t("novel"), "#" %>
      </li>
		</ul>
	</div>
